/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 @import url('https://fonts.googleapis.com/css2?family=Varta:wght@400;600&display=swap');

 body{
  font-family: 'Varta', sans-serif;
  background-color: #232325;
 }
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#logo-container img{
  width: 70px;
  height: 70px;
}
nav ul a{
  color: #1E1E20;
}
.page-footer{
  background-color: #F1F1F1;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
#imagem-rodape{
  width: 70px;
}
#descricao-rodape{
  color: #1E1E20;
}
#index-banner.section.no-pad-bot{
  padding-top: 60px;
  padding-bottom: 60px;
}
.material-icons{
  color: #1E1E20;
  font-size: 40px;
}
.header.center{
  color: #d6006d;
  font-weight: 700;
}
.input-field label {
  color: #02CA63;
}
input, select, textarea{
  color: #02CA63;
}
.btn-large{
  background-color: #02CA63;
}
th{
  color: #02CA63;
  font-size: large;
}
td{
  color: #d6006d;
  font-size: large;
}